<!-- src/views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>

    <% include ../partials/header %>

    <main class="raf-landing-page">
        <!-- About Section -->
        <section class="raf-container raf-section raf-landing-section raf-about-section">
            <div class="raf-about-section__text">
                <h2 class="raf-heading--underlined raf-about-section__heading">
                    <div>Hello</div>Nice to meet you.
                </h2>
                <p>My name is <strong>Rafael Tan</strong>, I am an UI/UX designer living in Vancouver, Canada. I have been telling stories through web design for 5 years now. scroll down to see my works.</p>
                <a href="#" class="raf-btn raf-btn--arrow raf-btn--arrow--down"></a>
            </div>
            <div class="raf-about-section__image">
                <img class="raf-image" src="/public/images/about_portrait.jpg" />
                <img class="raf-image raf-about-section__image--mountain" src="/public/images/about_mountain.jpg" />
            </div>
        </section>
        
        <!-- Star Wars Section -->
        <section class="raf-container raf-section raf-landing-section raf-sw-section">
            <div class="raf-sw-section__text">
                <h2 class="raf-heading--underlined raf-sw-section__heading">
                    Star Wars Battlefront Planets.
                </h2>
                <p>Explore the planets of Star Wars Battlefront. An interactive video. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <a href="#" class="raf-btn raf-btn__with-text">View Project</a>
            </div>
            <div class="raf-sw-section__image">
                <img class="raf-image" src="/public/images/work1_snapshot.jpg" />
            </div>
        </section>
        
        <!-- Zuru Section -->
        <section class="raf-container raf-section raf-landing-section raf-zuru-section">
            <div class="raf-zuru-section__text">
                <h2 class="raf-heading--underlined raf-zuru-section__heading">
                    <div>Zuru.</div>Connecting Travelers And Buyers
                </h2>
                <p>Explore the planets of Star Wars Battlefront. An interactive video. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <a href="#" class="raf-btn raf-btn__with-text">View Project</a>
            </div>
            <div class="raf-zuru-section__image">
                <img class="raf-image" src="/public/images/work1_snapshot.jpg" />
            </div>
        </section>
        
        <!-- NDS Section -->
        <section class="raf-container raf-section raf-landing-section raf-nds-section">
            <div class="raf-nds-section__text">
                <h2 class="raf-heading--underlined raf-nds-section__heading">
                    <div>Network</div>
                    <div>Design</div>
                    <div>Systems</div>
                </h2>
                <p>Explore the planets of Star Wars Battlefront. An interactive video. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <a href="#" class="raf-btn raf-btn__with-text">View Project</a>
            </div>
            <div class="raf-nds-section__image">
                <img class="raf-image" src="/public/images/work1_snapshot.jpg" />
            </div>
        </section>
        
        <!-- Contact Section -->
        <section class="raf-container raf-section raf-landing-section raf-contact-section">
            <div class="raf-contact-section__text">
                <h2 class="raf-heading--underlined raf-contact-section__heading">
                    Here Is My Number
                </h2>
                <p>My name is <strong>Rafael Tan</strong>, I am an UI/UX designer living in Vancouver, Canada. I have been telling stories through web design for 5 years now. scroll down to see my works.</p>
            </div>
            <div class="raf-contact-section__image">
                <img class="raf-image" src="/public/images/contact_snapshot.jpg" />
            </div>
        </section>
    </main>

    <% include ../partials/footer %>
    
</body>
</html>
