<!-- src/views/pages/landing.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>

    <% include ../partials/header %>

    <main class="raf-landing-page">
        <!-- About Section -->
        <section class="raf-container raf-section raf-landing-section raf-landing-about">
            <div class="raf-landing-about__text">
                <h2 class="raf-heading--underlined raf-landing-about__heading">
                    <div>Hello</div>Nice to meet you.
                </h2>
                <p>My name is <strong>Rafael Tan</strong>, I am an UI/UX designer living in Vancouver, Canada. I have been telling stories through web design for 5 years now. scroll down to see my works.</p>
                <a href="#" class="raf-btn raf-btn--arrow raf-btn--arrow--down">
                    <span class="raf-btn--arrow-icon raf-btn--arrow--down-icon"></span>
                </a>
            </div>
            <div class="raf-landing-about__image raf-fadeded-item">
                <img class="raf-image" src="/public/images/about_portrait.jpg" />
            </div>
        </section>
        
        <!-- Star Wars Section -->
        <section class="raf-container raf-section raf-landing-section raf-landing-sw">
            <div class="raf-landing-sw__text">
                <h2 class="raf-heading--underlined raf-landing-sw__heading">
                    Star Wars Battlefront Planets.
                </h2>
                <p>Explore the planets of Star Wars Battlefront. An interactive video. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <a href="<%= routes.starWars.path %>" class="raf-btn raf-btn--with-text">View Project</a>
            </div>
            <div class="raf-landing-sw__image raf-fadeded-item">
                <img class="raf-image" src="/public/images/work1_snapshot.jpg" />
            </div>
        </section>
        
        <!-- Zuru Section -->
        <section class="raf-container raf-section raf-landing-section raf-landing-zuru">
            <img class="raf-landing-zuru-bg" src="/public/images/work_2_bg.jpg" />
            <img class="raf-landing-zuru-fg raf-fadeded-item" src="/public/images/work_2_fg.jpg" />
            <div class="raf-landing-zuru__text">
                <h2 class="raf-heading--underlined raf-landing-zuru__heading">
                    <div>Zuru.</div>Connecting Travelers And Buyers
                </h2>
                <p>Explore the planets of Star Wars Battlefront. An interactive video. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <a href="<%= routes.zuru.path %>" class="raf-btn raf-btn--light raf-btn--with-text raf-landing-zuru__text-btn">
                    View Project
                </a>
            </div>
            <div class="raf-landing-zuru__image raf-fadeded-item">
                <img class="raf-image" src="/public/images/work2_snapshot.jpg" />
            </div>
        </section>
        
        <!-- NDS Section -->
        <section class="raf-container raf-section raf-landing-section raf-landing-nds">
            <div class="raf-landing-nds__text">
                <h2 class="raf-heading--underlined raf-landing-nds__heading">
                    <div>Network</div>
                    <div>Design</div>
                    <div>Systems</div>
                </h2>
                <p>Explore the planets of Star Wars Battlefront. An interactive video. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <a href="<%= routes.nds.path %>" class="raf-btn raf-btn--with-text">View Project</a>
            </div>
            <div class="raf-landing-nds__image">
                <img class="raf-image raf-fadeded-item" src="/public/images/work3_snapshot.jpg" />
            </div>
        </section>
        
        <!-- Contact Section -->
        <section class="raf-container raf-section raf-landing-section raf-landing-contact">
            <div class="raf-landing-contact__text">
                <h2 class="raf-heading--underlined raf-landing-contact__heading">
                    Here Is My Number
                </h2>
                <p>My name is <strong>Rafael Tan</strong>, I am an UI/UX designer living in Vancouver, Canada. I have been telling stories through web design for 5 years now. scroll down to see my works.</p>
            </div>
            <div class="raf-landing-contact__image">
                <img class="raf-image raf-fadeded-item" src="/public/images/about_mountain.jpg" />
            </div>
        </section>
    </main>

    <% include ../partials/footer %>
    
</body>
</html>
