<!-- src/views/pages/landing.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>

    <% include ../partials/header %>

    <main class="raf-landing-page">
        <!-- About Section -->
        <section class="raf-container raf-section raf-landing-section raf-landing-about">
            <div class="raf-landing-about__text">
                <h2 class="h1 raf-heading--underlined raf-landing-about__heading">
                    <div>Hello,</div>Nice to meet you.
                </h2>
                <p>My name's <strong>Rafael Tan</strong> and yes, I'm the guy in the picture in case you're wondering. I'm an experienced designer who's passionate in creating digital products. Scroll down to see some of my works, or go to my<a class="raf-text-link" href="https://www.linkedin.com/in/rafael-tan-09540236"> Linkedin page</a> to see what I've been up to.</p>
                <a href="#work1" class="raf-btn raf-btn--arrow raf-btn--arrow--down">
                    <span class="raf-btn--arrow-icon raf-btn--arrow--down-icon"></span>
                </a>
            </div>
            <div class="raf-landing-about__image raf-fadeded-item">
                <img alt="Rafael Tan Portrait" class="raf-image" src="/public/images/about_portrait.jpg" />
            </div>
        </section>

        <!-- Star Wars Section -->
        <section class="raf-container raf-section raf-landing-section raf-landing-sw">
            <a name="work1"></a>
            <div class="raf-landing-sw__text">
                <h2 class="raf-heading--underlined raf-landing-sw__heading">
                    Star Wars Battlefront Planets
                </h2>
                <p>Explore the planets of Star Wars Battlefront. An interactive video that takes users to a galaxy far far away. The experience introduces a variety of characters, vehicles, and weapons from the game. </p>                 <a href="<%= routes.starWars.path %>" class="raf-btn raf-btn--with-text">View Project</a>
            </div>
            <div class="raf-landing-sw__image raf-fadeded-item">
                <img alt="Star Wars Battlefront Planets Work Snapshot" class="raf-image" src="/public/images/work1_snapshot.jpg" />
            </div>
        </section>

        <!-- Zuru Section -->
        <section class="raf-container raf-section raf-landing-section raf-landing-zuru">
            <img class="raf-landing-zuru-bg" src="/public/images/work_2_bg.jpg" />
            <div class="raf-landing-zuru__text">
                <!-- <img class="raf-landing-zuru-fg raf-fadeded-item" src="/public/images/work_2_fg.jpg" /> -->
                <h2 class="raf-heading--underlined raf-landing-zuru__heading">
                    <div>Zuru,</div>Connecting Travelers And shoppers
                </h2>
                <p>A consumer-facing platform designed to connect travellers and shoppers all around the world. The platform allows at-home shoppers to conveniently buy merchandise from others that are travelling abroad.</p>
                <a href="<%= routes.zuru.path %>" class="raf-btn raf-btn--with-text raf-landing-zuru__text-btn">
                    View Project
                </a>
            </div>
            <div class="raf-landing-zuru__image raf-fadeded-item">
                <img alt="Zuru Work Snapshot" class="raf-image" src="/public/images/work2_snapshot.jpg" />
            </div>
        </section>

        <!-- NDS Section -->
        <section class="raf-container raf-section raf-landing-section raf-landing-nds">
            <div class="raf-landing-nds__text">
                <h2 class="raf-heading--underlined raf-landing-nds__heading">
                    <a class="h2-text-link" href="<%= routes.nds.path %>">Network Design System</a>
                </h2>
                <p>An ambitious project that will be shaping all of the EA web properties in the future. The Network Design System is designed for quick-and-easy creation and publication of EA’s websites.</p>
                <a href="<%= routes.nds.path %>" class="raf-btn raf-btn--with-text">View Project</a>
            </div>
            <div class="raf-landing-nds__image">
                <img alt="Network Design System Work Snapshot" class="raf-image raf-fadeded-item" src="/public/images/work3_snapshot.jpg" />
            </div>
        </section>

        <!-- Contact Section -->
        <section class="raf-container raf-section raf-landing-section raf-landing-contact">
            <div class="raf-landing-contact__text">
                <h2 class="raf-heading--underlined raf-landing-contact__heading">
                    GET IN TOUCH
                </h2>
                <p>If you like my work, or if you just want to chat about Hearthstone, manga, or the fermi paradox, send me a <a class="raf-text-link" href="https://www.linkedin.com/in/rafael-tan-09540236">Linkedin message</a> or <a class="raf-text-link" href="mailto:hello@rafaeltan.com">email.</a> Thanks for your time and have a great day.</p>
            </div>
            <div class="raf-landing-contact__image">
                <img class="raf-image raf-fadeded-item" src="/public/images/about_mountain.jpg" />
            </div>
        </section>
    </main>

    <% include ../partials/footer %>

</body>
</html>
