<!-- src/views/pages/star-wars.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>

    <% include ../partials/header %>

    <main class="raf-sw-page">
        <!-- Overview Section -->

        <section class="raf-container raf-section raf-section--centred raf-sw-section raf-sw-overview">
            <div class="raf-sw-overview__text">
                <h1 class="h2 raf-heading--underlined raf-heading--centered raf-section__heading">
                    <%= title %>
                </h1>
                <p class="raf-section__copy raf-sw-overview__copy">Star Wars Battlefront Planets is an interactive experience designed to introduce users to the game. Users start the experience by choosing one out of the four planets using their macrobinoculars. The experience then proceeds to show gameplay trailer in the first person point of view. Throughout the trailer, the frames pause, and users can interact with the hotspots to learn more about the game. </p>
            </div>
            <div class="raf-sw-overview__image">
                <img alt="Star Wars Planets Snapshot" class="raf-image raf-fadeded-item" src="/public/images/swbf_overview_fg.png" />
            </div>
        </section>

        <!-- Challenge Section -->
        <section class="raf-container raf-section raf-section--centred raf-sw-section raf-sw-challenge">
            <div class="raf-sw-challenge__text">
                <h2 class="raf-heading--before-subheading raf-sw-challenge__heading">
                    The Challenge:
                </h2>
                <h5>Reimagining the Game's User Interface</h5>
                <p class="raf-section__copy raf-sw-challenge__copy">The challenge of Star Wars Battlefront Planets is to create an immersive web experience that is authentic to its console counterpart. I have designed the majority of the user interfaces in the desktop experience for this project. At the start the project, our team only has an in-game trailer to work with. We proceed to watch the trailer extensively, pausing frame by frame to study the user interfaces in the game. In the end, we are able to deliver a great interactive experience that looks and feels like Star Wars Battlefront.</p>
            </div>
            <div class="raf-sw-challenge__images">
                <img alt="Planets - Console UI" class="raf-image raf-sw-challenge__image" src="/public/images/swbf_challenge_bg.jpg" />
                <img alt="Planets - Console Tile" class="raf-image raf-sw-challenge__image raf-fadeded-item" src="/public/images/swbf_challenge_fg_1.png" />
                <img alt="Planets - Console UI Closeup" class="raf-image raf-sw-challenge__image raf-fadeded-item" src="/public/images/swbf_challenge_fg_2.png" />
                <img alt="Planets - PS 4 Controller" class="raf-image raf-sw-challenge__image raf-fadeded-item" src="/public/images/swbf_challenge_fg_3.png" />
            </div>
        </section>

        <!-- Design Section -->
        <section class="raf-container raf-section raf-section--centred raf-sw-section raf-sw-design">
            <div class="raf-sw-design__text">
                <h2 class="raf-heading--before-subheading raf-sw-section__heading raf-sw-design__heading">
                    The Design
                </h2>
                <p class="raf-section__copy raf-sw-design__copy">Our colleagues at DICE have created beautiful and simplistic user interfaces for the game. We are then able to carry these qualities to the Battlefront’s web experience.</p>
            </div>

            <div class="raf-sw-design__items">
                <div class="raf-sw-design__item">
                    <p class="raf-sw-design__item-title raf-sw-design__item--planets">Planets selector</p>
                    <img alt="Planet Dropdown" class="raf-image raf-sw-design__item-image raf-fadeded-item" src="/public/images/swbf_design_dropdown.jpg" />
                </div>
                <div class="raf-sw-design__item raf-sw-design__item--timeline">
                <p class="raf-sw-design__item-title">Timeline</p>
                    <img alt="Planet Timeline" class="raf-image raf-sw-design__item-image raf-fadeded-item" src="/public/images/swbf_design_timeline.jpg" />
                </div>
                <div class="raf-sw-design__item raf-sw-design__item--icons">
                    <p class="raf-sw-design__item-title">Hotspot icons</p>
                    <img alt="Planet Hotspot icons" class="raf-image raf-sw-design__item-image raf-fadeded-item" src="/public/images/swbf_design_icons.jpg" />
                </div>
                <div class="raf-sw-design__item raf-sw-design__item--modal">
                    <p class="raf-sw-design__item-title">Modal window</p>
                    <img alt="Planet Modal window" class="raf-image raf-sw-design__item-image raf-sw-design__item--modal__image raf-fadeded-item" src="/public/images/swbf_design_panel.png" />
                </div>
                <div class="raf-sw-design__item raf-sw-design__item--chew">
                    <img alt="Planet Chewbacca" class="raf-image raf-sw-design__item-image raf-fadeded-item" src="/public/images/swbf_design_chew.jpg" />
                </div>
            </div>
        </section>

        <!-- Inspiration Section -->
        <section class="raf-container raf-section raf-section--centred raf-sw-section raf-sw-inspiration">
            <div class="raf-sw-inspiration__text">
                <h2 class="raf-section__heading raf-sw-inspiration__heading">
                    Inspired by Iconic Star Wars Scenes
                </h2>
                <p class="raf-section__copy">The web campaign is designed to be a gateway experience to the game. One of our main target demographics is casual gamers who knows and loves the Star Wars franchise. To harness the power of nostalgia, we have taken inspiration from our favourite Star Wars scenes and gadgets.</p>
            </div>
            <div class="raf-sw-inspiration__items">
                <div class="raf-sw-inspiration__item">
                    <p class="raf-sw-inspiration__item-title">&nbsp&nbspLanding page design</p>
                    <img alt="Landing page design" class="raf-image raf-sw-inspiration__item-image raf-fadeded-item" src="/public/images/swbf_inspiration_fg_1.png" />
                </div>
                <div class="raf-sw-inspiration__item">
                    <p class="raf-sw-inspiration__item-title">&nbsp&nbspFrom Star Wars: Episode IV A New Hope</p>                    <img alt="Landing page inspiration" class="raf-image raf-sw-inspiration__item-image raf-fadeded-item" src="/public/images/swbf_inspiration_fg_2.png" />
                </div>
                <div class="raf-sw-inspiration__item">
                    <p class="raf-sw-inspiration__item-title">&nbsp&nbspFrom Star Wars: Episode V The Empire </br> &nbsp&nbspStrikes Back</p>
                    <img alt="Loading page inspiration" class="raf-image raf-sw-inspiration__item-image raf-fadeded-item" src="/public/images/swbf_inspiration_fg_3.png" />
                </div>
                <div class="raf-sw-inspiration__item">
                    <p class="raf-sw-inspiration__item-title">&nbsp&nbspLoading page design</p>
                    <img alt="Loading page" class="raf-image raf-sw-inspiration__item-image raf-fadeded-item" src="/public/images/swbf_inspiration_fg_4.png" />
                </div>
            </div>
        </section>

        <% if (typeof results !== 'undefined') { %>
            <% include ../partials/results %>
        <% } %>
    </main>

    <% if (typeof credits !== 'undefined') { %>
        <% include ../partials/credits %>
    <% } %>

    <% include ../partials/footer %>

</body>
</html>
