<!-- src/views/pages/star-wars.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>

    <% include ../partials/header %>

    <main class="raf-sw-page">
        <!-- Overview Section -->
        <section class="raf-container raf-section raf-section--centred raf-sw-section raf-sw-overview">
            <div class="raf-sw-overview__text">
                <h2 class="raf-heading--underlined raf-section__heading raf-section--centered__heading">
                    Star Wars Battlefront Planets
                </h2>
                <p class="raf-section__copy raf-sw-overview__copy">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur.</p>
            </div>
            <div class="raf-sw-overview__image">
                <img class="raf-image" src="/public/images/swbf_overview_fg.png" />
            </div>
        </section>

        <!-- Challenge Section -->
        <section class="raf-container raf-section raf-section--centred raf-sw-section raf-sw-challenge">
            <div class="raf-sw-challenge__text">
                <h2 class="raf-sw-challenge__heading">
                    The Challenge:
                </h2>
                <h5>Reimagnine the Game's UI</h5>
                <p class="raf-sw-section__copy raf-sw-challenge__copy">Bringing a deeply rich console game experience to the web in a meaningful way was no small challenge, but our digital ballers tackled it full-force. Despite being on a different device – desktop vs. TV – the design would have to look and feel familiar to console gamers, while maintaining an intuitive interface that offered cool new features and functionality.</p>
            </div>
            <div class="raf-sw-challenge__image">
                <img class="raf-image" src="/public/images/swbf_challenge_bg.jpg" />
            </div>
        </section>

        <!-- Design Section -->
        <section class="raf-container raf-section raf-section--centred raf-sw-section raf-sw-design">
            <div class="raf-sw-design__text">
                <h2 class="raf-sw-section__heading raf-sw-design__heading">
                    The Design
                </h2>
                <h5>Designing the Future of EA Web Properties</h5>
                <p class="raf-sw-section__copy raf-sw-design__copy">The design Bringing a deeply rich console game experience to the web in a meaningful way was no small challenge, but our digital ballers tackled it full-force. Despite being on a different device – desktop vs. TV – the design would have to look and feel familiar to console gamers, while maintaining an intuitive interface that offered cool new features and functionality.</p>
            </div>

            <div class="raf-sw-design__items">
                <div class="raf-sw-design__item">
                    <p class="raf-sw-design__item-title raf-sw-design__item--planets">Planets selector</p>
                    <img class="raf-image raf-sw-design__item-image" src="/public/images/swbf_design_dropdown.jpg" />
                </div>
                <div class="raf-sw-design__item raf-sw-design__item--timeline">
                <p class="raf-sw-design__item-title">Timeline</p>
                    <img class="raf-image raf-sw-design__item-image" src="/public/images/swbf_design_timeline.jpg" />
                </div>
                <div class="raf-sw-design__item raf-sw-design__item--icons">
                    <p class="raf-sw-design__item-title">Hotspot icons</p>
                    <img class="raf-image raf-sw-design__item-image" src="/public/images/swbf_design_icons.jpg" />
                </div>
                <div class="raf-sw-design__item raf-sw-design__item--modal">
                    <p class="raf-sw-design__item-title">Modal window</p>
                    <img class="raf-image raf-sw-design__item-image raf-sw-design__item--modal__image" src="/public/images/swbf_design_panel.jpg" />
                </div>
                <div class="raf-sw-design__item raf-sw-design__item--chew">
                    <img class="raf-image raf-sw-design__item-image" src="/public/images/swbf_design_chew.jpg" />
                </div>
            </div>
        </section>

        <!-- Inspiration Section -->
        <section class="raf-container raf-section raf-section--centred raf-sw-section raf-sw-inspiration">
            <div class="raf-sw-inspiration__text">
                <h2 class="raf-section__heading raf-sw-inspiration__heading">
                    Inspired by Iconic Star Wars Scenes
                </h2>
            </div>
            <div class="raf-sw-inspiration__items">
                <div class="raf-sw-inspiration__item">
                    <p class="raf-sw-inspiration__item-title">Landing page design</p>
                    <img class="raf-image raf-sw-inspiration__item-image" src="/public/images/swbf_inspiration_fg_1.png" />
                </div>
                <div class="raf-sw-inspiration__item">
                    <p class="raf-sw-inspiration__item-title">From Star Wars: Episode IV A New Hope</p>
                    <img class="raf-image raf-sw-inspiration__item-image" src="/public/images/swbf_inspiration_fg_2.png" />
                </div>
                <div class="raf-sw-inspiration__item">
                    <p class="raf-sw-inspiration__item-title">Loading page design</p>
                    <img class="raf-image raf-sw-inspiration__item-image" src="/public/images/swbf_inspiration_fg_3.png" />
                </div>
                <div class="raf-sw-inspiration__item">
                    <p class="raf-sw-inspiration__item-title">From Star Wars: Episode V The Empire Strikes Back</p>
                    <img class="raf-image raf-sw-inspiration__item-image" src="/public/images/swbf_inspiration_fg_4.png" />
                </div>
            </div>
        </section>

        <% if (typeof results !== 'undefined') { %>
            <% include ../partials/results %>
        <% } %>
    </main>

    <% include ../partials/credits %>

    <% include ../partials/footer %>
    
</body>
</html>
