<!-- src/views/pages/zuru.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>

    <% include ../partials/header %>

    <main class="raf-zuru-page">
        <!-- Overview Section -->
        <section class="raf-container raf-section raf-section--centred raf-zuru-section raf-zuru-overview">
            <div class="raf-zuru-overview__text">
                <h1 class="raf-heading--underlined raf-section__heading raf-heading--centered">
                    Zuru
                </h1>
                <p class="raf-section__copy raf-zuru-overview__copy">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur.</p>
            </div>
            <div class="raf-zuru-overview__image raf-fadeded-item">
                <img class="raf-image" src="/public/images/zuru_overview_fg.png" />
            </div>
        </section>

        <!-- Challenge Section -->
        <section class="raf-container raf-section raf-section--centred raf-zuru-section raf-zuru-challenge">
            <div class="raf-zuru-challenge__text">
                <h2 class="raf-heading--before-subheading raf-zuru-challenge__heading">
                    The Challenge:
                </h2>
                <h5>Solving the Problem of “Daimai”</h5>
                <p class="raf-section__copy raf-zuru-challenge__copy">Bringing a deeply rich console game experience to the web in a meaningful way was no small challenge, but our digital ballers tackled it full-force. Despite being on a different device – desktop vs. TV – the design would have to look and feel familiar to console gamers, while maintaining an intuitive interface that offered cool new features and functionality.</p>
            </div>
            <div class="raf-zuru-challenge__images">
                <img class="raf-image raf-zuru-challenge__image" src="/public/images/zuru_challenge_bg.jpg" />
                <img class="raf-image raf-zuru-challenge__image raf-zuru-challenge__image--overlay raf-fadeded-item" src="/public/images/zuru_challenge_fg.png" />
            </div>
        </section>

        <!-- Concept Section -->
        <section class="raf-container raf-section raf-section--centred raf-zuru-section raf-zuru-concept">
            <div class="raf-zuru-concept__text">
                <h2 class="raf-heading--before-subheading">
                    <img class="raf-image" src="/public/images/zuru_concept_title.png" />
                </h2>
                <h5>Solving the Problem of “Daimai”</h5>
                <p class="raf-section__copy raf-zuru-concept__copy">Bringing a deeply rich console game experience to the web in a meaningful way was no small challenge, but our digital ballers tackled it full-force. Despite being on a different device – desktop vs. TV.</p>
            </div>
            <div class="raf-zuru-concept__items">
                <div class="raf-zuru-concept__item">
                    <img class="raf-image" src="/public/images/zuru_concept_icon1.png" />
                    <p class="raf-zuru-concept__item-copy" index="1"><span><strong>Jason</strong> is visiting Japan next week.</span></p>
                </div>
                <div class="raf-zuru-concept__item">
                    <img class="raf-image" src="/public/images/zuru_concept_icon2.png" />
                    <p class="raf-zuru-concept__item-copy" index="2"><span><strong>Betty</strong> wants the new cellphone from Japan.</span></p>
                </div>
                <div class="raf-zuru-concept__item">
                    <img class="raf-image" src="/public/images/zuru_concept_icon3.png" />
                    <p class="raf-zuru-concept__item-copy" index="3"><span><strong>Betty</strong> creats a <strong>Request</strong> on <strong>Zuru</strong>.</span></p>
                </div>
                <div class="raf-zuru-concept__item">
                    <p class="raf-zuru-concept__item-copy"><span>A <strong>Request</strong> contains details of the phone and the commision for a traveller to purchase it for her. <a class="raf-text-link" href="#">See Design</a></span></p>
                </div>
                <div class="raf-zuru-concept__item">
                    <img class="raf-image" src="/public/images/zuru_concept_icon4.png" />
                    <p class="raf-zuru-concept__item-copy" index="4"><span><strong>Jason</strong> finds <strong>Betty's Request</strong> on <strong>Zuru</strong>.</span></p>
                </div>
                <div class="raf-zuru-concept__item">
                    <img class="raf-image" src="/public/images/zuru_concept_icon5.png" />
                    <p class="raf-zuru-concept__item-copy" index="5"><span><strong>Jason</strong> fulfills the <strong>Request</strong>. Gets paid by <strong>Betty</strong>.</span></p>
                </div>
            </div>
        </section>

        <!-- Design Section -->
        <section class="raf-container raf-section raf-section--centred raf-zuru-section raf-zuru-design">
            <div class="raf-zuru-design__text">
                <h2 class="raf-heading--before-subheading raf-zuru-section__heading">
                    The Design
                </h2>
                <h5>Solving the Problem of “Daimai”</h5>
                <p class="raf-section__copy raf-zuru-design__copy">The design Bringing a deeply rich console game experience to the web in a meaningful way was no small challenge, but our digital ballers tackled it full-force. Despite being on a different device – desktop vs. TV.</p>
            </div>

            <div class="raf-zuru-design__items">
                <div class="raf-zuru-design__item">
                    <p class="raf-zuru-design__item-title">Landing page</p>
                    <div class="raf-zuru-design__item-work">
                        <img class="raf-image raf-zuru-design__item-image" src="/public/images/zuru_work1.jpg" />
                        <p class="raf-section__copy raf-zuru-design__item--platform-copy"><strong>ZURU</strong> is a new platform, and we wanted to make sure we explain how the platform works for both the travellers and the buyers up front.</p>
                        <div class="raf-zuru-design__item-group raf-zuru-design__item-group--request">
                            <img class="raf-image raf-zuru-design__item-image raf-fadeded-item" src="/public/images/zuru_work1_fg1.png" />
                            <p class="raf-zuru-design__item-group-copy raf-zuru-design__item-group--request-copy">This is a <strong>Request Tile</strong>. It contains all the key Informations important to potential travellers.</p>
                        </div>
                        <div class="raf-zuru-design__item-group raf-zuru-design__item-group--traveller">
                            <img class="raf-image raf-zuru-design__item-image raf-fadeded-item" src="/public/images/zuru_work1_fg2.png" />
                            <p class="raf-zuru-design__item-group-copy raf-zuru-design__item-group--traveller-copy">This is a <strong>Traveller Tile</strong>. It lets buyers find potential travellers.</p>
                        </div>
                    </div>
                </div>
                <div class="raf-zuru-design__item">
                    <p class="raf-zuru-design__item-title raf-zuru-design__item--request-title">Request page</p>
                    <div class="raf-zuru-design__item-work">
                        <img class="raf-image raf-zuru-design__item-image" src="/public/images/zuru_work2.jpg" />
                        <div class="raf-zuru-design__item-group raf-zuru-design__item-group--product">
                            <img class="raf-image raf-zuru-design__item-image raf-fadeded-item" src="/public/images/zuru_work2_fg.png" />
                            <p class="raf-zuru-design__item-group-copy raf-zuru-design__item-group--product-copy">The <strong>Requests</strong> page contains all the details of the prodcut</p>
                        </div>
                    </div>
                </div>
                <div class="raf-zuru-design__item">
                    <p class="raf-zuru-design__item-title">Manage Your Requests</p>
                    <div class="raf-zuru-design__item-work">
                        <img class="raf-image raf-zuru-design__item-image" src="/public/images/zuru_work3.jpg" />
                        <div class="raf-zuru-design__item-group raf-zuru-design__item-group--filter">
                            <img class="raf-image raf-zuru-design__item-image raf-fadeded-item" src="/public/images/zuru_work3_fg1.png" />
                            <p class="raf-zuru-design__item-group-copy raf-zuru-design__item-group--filter-copy">Use the filter to manage your accepted <strong>Requests</strong>.</p>
                        </div>
                        <div class="raf-zuru-design__item-group raf-zuru-design__item-group--track">
                            <img class="raf-image raf-zuru-design__item-image raf-fadeded-item" src="/public/images/zuru_work3_fg2.png" />
                            <p class="raf-zuru-design__item-group-copy raf-zuru-design__item-group--track-copy"><strong>ZURU</strong> tracks all the stages of the transaction.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="raf-zuru-design__text raf-zuru-design__text-more">
                <h2 class="raf-heading--before-subheading raf-zuru-section__heading">Tip of an Iceberg</h2>
                <h5>There are Plenty more for this Project</h5>
                <p class="raf-section__copy raf-zuru-design__copy">I have designed 30+ pages for this project in the year of 2015. Our team worked hard and we figured out all the logistics of the buisness modal. If you would like to learn more about ZURU, drop me a line and I would be happy to show you more.</p>
            </div>
        </section>

        <% if (typeof results !== 'undefined') { %>
            <% include ../partials/results %>
        <% } %>
    </main>

    <% if (typeof credits !== 'undefined') { %>
        <% include ../partials/credits %>
    <% } %>

    <% include ../partials/footer %>
    
</body>
</html>
