<!-- src/views/pages/zuru.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>

    <% include ../partials/header %>

    <main class="raf-zuru-page">
        <!-- Overview Section -->
        <section class="raf-container raf-section raf-section--centred raf-zuru-section raf-zuru-overview">
            <div class="raf-zuru-overview__text">
                <h1 class="h2 raf-heading--underlined raf-section__heading raf-heading--centered">
                    <%= title %>
                </h1>
                <p class="raf-section__copy raf-zuru-overview__copy">Zuru is an exciting entrepreneurial adventure that three partners and myself took on in 2015. It is an e-commerce platform designed to connect at-home shoppers and travellers around the world. As the only designer on the team, I have designed the product from the ground up. My responsibilities include designing the brand, the user-experience, as well as the user interface.</p>
            </div>
            <div class="raf-zuru-overview__image raf-fadeded-item">
                <img alt="Zuru Snapshot" class="raf-image" src="/public/images/zuru_overview_fg.png" />
            </div>
        </section>

        <!-- Challenge Section -->
        <section class="raf-container raf-section raf-section--centred raf-zuru-section raf-zuru-challenge">
            <div class="raf-zuru-challenge__text">
                <h2 class="raf-heading--before-subheading raf-zuru-challenge__heading">
                    The Challenge:
                </h2>
                <h5>Solving the Problem of “Daimai”</h5>
                <p class="raf-section__copy raf-zuru-challenge__copy">代買 (Dai’mai) directly translates to “buy for”. It is the transaction between a traveller and a shopper. The traveller purchases merchandises abroad and sells them to shoppers at home. Merchandise can range from cheap novelties to luxury goods. Dai’mai is very common in Asia where merchandises are often limited to specific geographic regions. Traditionally, the platform for connecting travellers and shoppers are designated dai’mai forums and chatrooms. These sites can be extremely inconvenient and insecure, and Zuru is our vision to provide an alternative.</p>
            </div>
            <div class="raf-zuru-challenge__images">
                <img alt="Forum example" class="raf-image raf-zuru-challenge__image" src="/public/images/zuru_challenge_bg.jpg" />
                <img alt="Forum example translated" class="raf-image raf-zuru-challenge__image raf-zuru-challenge__image--overlay raf-fadeded-item" src="/public/images/zuru_challenge_fg.png" />
            </div>
        </section>

        <!-- Concept Section -->
        <section class="raf-container raf-section raf-section--centred raf-zuru-section raf-zuru-concept">
            <div class="raf-zuru-concept__text">
                <h2 class="raf-heading--before-subheading">
                    <img class="raf-image" src="/public/images/zuru_concept_title.png" />
                </h2>
                <h5>A Easy and Secure Platform for Shoppers and Travellers</h5>
                <p class="raf-section__copy raf-zuru-concept__copy">Zuru is a platform specifically designed to connect travellers and shoppers for the purpose of dai’mai. It is convenient, easy-to-use, and secure. Shoppers create Zuru Requests which includes the details of the merchandise and the commission for their travellers. On the other hand, travellers can also search for Zuru Requests that match their travelling plans.</p>
            </div>
            <div class="raf-zuru-concept__items">
                <div class="raf-zuru-concept__item">
                    <img class="raf-image" src="/public/images/zuru_concept_icon1.png" />
                    <p class="raf-zuru-concept__item-copy" index="1"><span><strong>Jason</strong> is visiting Japan next week.</span></p>
                </div>
                <div class="raf-zuru-concept__item">
                    <img class="raf-image" src="/public/images/zuru_concept_icon2.png" />
                    <p class="raf-zuru-concept__item-copy" index="2"><span><strong>Betty</strong> wants the new cellphone from Japan.</span></p>
                </div>
                <div class="raf-zuru-concept__item">
                    <img class="raf-image" src="/public/images/zuru_concept_icon3.png" />
                    <p class="raf-zuru-concept__item-copy" index="3"><span><strong>Betty</strong> creats a <strong>Request</strong> on <strong>Zuru</strong>.</span></p>
                </div>
                <div class="raf-zuru-concept__item">
                    <p class="raf-zuru-concept__item-copy"><span>A <strong>Request</strong> contains details of the phone and the commision for a traveller to purchase it for her. <a class="raf-text-link" href="#raf-zuru-design">See Design</a></span></p>
                </div>
                <div class="raf-zuru-concept__item">
                    <img class="raf-image" src="/public/images/zuru_concept_icon4.png" />
                    <p class="raf-zuru-concept__item-copy" index="4"><span><strong>Jason</strong> finds <strong>Betty's Request</strong> on <strong>Zuru</strong>.</span></p>
                </div>
                <div class="raf-zuru-concept__item">
                    <img class="raf-image" src="/public/images/zuru_concept_icon5.png" />
                    <p class="raf-zuru-concept__item-copy" index="5"><span><strong>Jason</strong> fulfills the <strong>Request</strong>. Gets paid by <strong>Betty</strong>.</span></p>
                </div>
            </div>
        </section>

        <!-- Design Section -->
        <section id="raf-zuru-design" class="raf-container raf-section raf-section--centred raf-zuru-section raf-zuru-design">
            <div class="raf-zuru-design__text">
                <h2 class="raf-heading--before-subheading raf-zuru-section__heading">
                    The Design
                </h2>
                <h5>Solving the Problem of “Daimai”</h5>
                <p class="raf-section__copy raf-zuru-design__copy">The landing page is your first destination when you use Zuru. This page is designed to get you started whether you are looking to pick up a Zuru Request as a traveller, or you are looking for a traveller as a shopper.</p>
            </div>

            <div class="raf-zuru-design__items">
                <div class="raf-zuru-design__item">
                    <p class="raf-zuru-design__item-title">Landing page</p>
                    <div class="raf-zuru-design__item-work">
                        <img alt="Landing Page" class="raf-image raf-zuru-design__item-image" src="/public/images/zuru_work1.jpg" />
                        <p class="raf-section__copy raf-zuru-design__item--platform-copy"><strong>ZURU</strong> is a new platform, therefore we want to make sure we explain how the platform works for both the travellers and the shoppers up front.</p>
                        <div class="raf-zuru-design__item-group raf-zuru-design__item-group--request">
                            <img alt="Request Tile" class="raf-image raf-zuru-design__item-image raf-fadeded-item" src="/public/images/zuru_work1_fg1.png" />
                            <p class="raf-zuru-design__item-group-copy raf-zuru-design__item-group--request-copy">This is a <strong>Request Tile Closeup</strong>. It contains all the key Informations important to potential travellers.</p>
                        </div>
                        <div class="raf-zuru-design__item-group raf-zuru-design__item-group--traveller">
                            <img alt="Traveller TIle Closeup" class="raf-image raf-zuru-design__item-image raf-fadeded-item" src="/public/images/zuru_work1_fg2.png" />
                            <p class="raf-zuru-design__item-group-copy raf-zuru-design__item-group--traveller-copy">This is a <strong>Traveller Tile</strong>. It lets buyers find potential travellers.</p>
                        </div>
                    </div>
                </div>
                <div class="raf-zuru-design__item">
                    <p class="raf-zuru-design__item-title raf-zuru-design__item--request-title">Request page</p>
                    <div class="raf-zuru-design__item-work">
                        <img alt="Request Page" class="raf-image raf-zuru-design__item-image" src="/public/images/zuru_work2.jpg" />
                        <div class="raf-zuru-design__item-group raf-zuru-design__item-group--product">
                            <img alt="Reqest Page Closeup" class="raf-image raf-zuru-design__item-image raf-fadeded-item" src="/public/images/zuru_work2_fg.png" />
                            <p class="raf-zuru-design__item-group-copy raf-zuru-design__item-group--product-copy">The <strong>Requests</strong> page contains all the details of the prodcut</p>
                        </div>
                    </div>
                </div>
                <div class="raf-zuru-design__item">
                    <p class="raf-zuru-design__item-title">Manage Your Requests</p>
                    <div class="raf-zuru-design__item-work">
                        <img alt="Profile Page" class="raf-image raf-zuru-design__item-image" src="/public/images/zuru_work3.jpg" />
                        <div class="raf-zuru-design__item-group raf-zuru-design__item-group--filter">
                            <img alt="Filter Closeup" class="raf-image raf-zuru-design__item-image raf-fadeded-item" src="/public/images/zuru_work3_fg1.png" />
                            <p class="raf-zuru-design__item-group-copy raf-zuru-design__item-group--filter-copy">Use the filter to manage your accepted <strong>Requests</strong>.</p>
                        </div>
                        <div class="raf-zuru-design__item-group raf-zuru-design__item-group--track">
                            <img alt="Profile Page Closeup" class="raf-image raf-zuru-design__item-image raf-fadeded-item" src="/public/images/zuru_work3_fg2.png" />
                            <p class="raf-zuru-design__item-group-copy raf-zuru-design__item-group--track-copy"><strong>ZURU</strong> tracks all the stages of the transaction.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="raf-zuru-design__text raf-zuru-design__text-more">
                <h2 class="raf-heading--before-subheading raf-zuru-section__heading">Tip of an Iceberg</h2>
                <h5>There are Plenty more for this Project</h5>
                <p class="raf-section__copy raf-zuru-design__copy">I have designed more than 30 pages for this project in the year of 2015. Our team has worked hard and figured out all the logistics of the business model. If you would like to learn more about Zuru, drop me a line and I will be happy to show you more.</p>
            </div>
        </section>

        <% if (typeof results !== 'undefined') { %>
            <% include ../partials/results %>
        <% } %>
    </main>

    <% if (typeof credits !== 'undefined') { %>
        <% include ../partials/credits %>
    <% } %>

    <% include ../partials/footer %>

</body>
</html>
