/**
 * Base Styles
 */
html {
    font-family: 'RidleyGrotesk';
    font-size: 62.5%;
}

html,
body {  
    height: 100%;
}

body {
    background-color: #f2f2f2;
    color: #222222;
}

main {
    padding-top: 12rem;
}

@media (min-width: 1288px) {
    main {
        padding-top: 14rem;
    }
}

h1, 
h2, 
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
}

strong {
    font-weight: 600;
}

[hidden] {
    display: none !important;
}

/*
 * Image
 */
.raf-image {
    max-width: 100%;
}
