/**
 * Button
 */
.raf-btn {
    border: 3px solid #175cff;
    box-sizing: border-box;
    color: #175cff;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 40px;
    overflow: hidden;
    padding: 9.5px 6px;
    position: relative;
    transition-duration: 0.4s;
    transition-property: border-color, color;
    transition-timing-function: ease;
    z-index: 1;
}

.raf-btn::before {
    background: linear-gradient(135deg, #175cff 50%, transparent 50.01%);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: transform 0.4s ease;
    width: 300%;
    z-index: -1;
}

/* hover variant */
.raf-btn:hover {
    color: #ffffff;
}

.raf-btn:not(:hover)::before {
    transform: translateX(-70%);
}

/* text button variant */
.raf-btn--with-text {
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    padding: 10px 24px;
    text-decoration: none;
    text-transform: uppercase;
}

@media (min-width: 1288px) {
    .raf-btn--with-text {
        font-size: 18px;
        line-height: 24px;
    }   
}

/* light varaint */
.raf-btn--light {
    border-color: #ffffff;
    color: #ffffff;
}

.raf-btn--light:hover {
    color: #175cff;
}

.raf-btn--light::before {
  background: linear-gradient(135deg, #ffffff 50%, transparent 50.01%);
}

/**
 * Text Link
 */
.raf-text-link {
    color: #175cff;
    text-decoration: none;
}

/* active link variant */
.raf-text-link:active,
.raf-text-link[active] {
    color: #b6b6b6;
}

/** 
 * Hamburger Button 
 */
.raf-btn--hamburger {
    display: flex;
    flex-direction: column;
    width: 40px;
}

/**
 * Hamburger Icon
 */
.raf-btn--hamburger-icon {
    background-clip: content-box;
    padding: 6px 0;
    transition: background-color 0.4s ease;
}

.raf-btn--hamburger-icon,
.raf-btn--hamburger-icon::before,
.raf-btn--hamburger-icon::after {
    background-color: #1d60ff;
    display: block;
    height: 3px;
    transition: 0.4s ease;
    transition-property: transform, opacity;
}

.raf-btn--hamburger-icon::before,
.raf-btn--hamburger-icon::after {
    content: "";
}

.raf-btn--hamburger-icon::before {
    transform: translateY(-8px);
}

.raf-btn--hamburger-icon::after {
    transform: translateY(4px);
}

/* hover state variant */
.raf-btn--hamburger:hover .raf-btn--hamburger-icon,
.raf-btn--hamburger:hover .raf-btn--hamburger-icon::before,
.raf-btn--hamburger:hover .raf-btn--hamburger-icon::after {
    background-color: #fff;
}

/* open state variatiant */
.raf-btn--hamburger[nav-open] .raf-btn--hamburger-icon::before {
    transform: rotate(45deg);
    transform-origin: 12px 0px;
}

.raf-btn--hamburger[nav-open] .raf-btn--hamburger-icon::after {
    transform: rotate(-45deg);
    transform-origin: 6px 0;
}

.raf-btn--hamburger[nav-open] .raf-btn--hamburger-icon {
    background-color: transparent;
}

/**
 * Arrow Button
 */
 .raf-btn--arrow {
    height: 40px;
    width: 40px;
 }

.raf-btn--arrow-icon::before {
    background-color: #1d60ff;
    content: "";
    height: 16px;
    width: 2px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
}

.raf-btn--arrow-icon::after {
    border: solid #1d60ff;
    border-width: 2px 0 0 2px;
    content: "";
    height: 10px;
    position: absolute;
    top: 10px;
    left: 11px;
    transform: rotate(45deg);
    width: 10px;
}

/* hover state variant */
.raf-btn--arrow:hover .raf-btn--arrow-icon::before {
    background-color: #ffffff;
}

.raf-btn--arrow:hover .raf-btn--arrow-icon::after {
    border-color: #ffffff;
}

/* down arrow variant */
.raf-btn--arrow--down-icon] {
    position: relative;
    transform: rotate(180deg);
}
