.raf-container {
    box-sizing: border-box;
    padding-left: calc(50% - 136px);
    padding-right: calc(50% - 136px);
}

@media (min-width: 768px) {
    .raf-container {
        padding-left: calc(50% - 325px);        
        padding-right: calc(50% - 325px);
    }
}

@media (min-width: 1288px) {
    .raf-container {
        padding-left: calc(50% - 608px);
        padding-right: calc(50% - 608px);
    }
}
