.raf-sub-nav {
    left: 44px;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.raf-sub-nav__item {
    border: 3px solid #b6b6b6;
    box-sizing: border-box;
    display: block;
    height: 16px;
    margin-bottom: 10px;
    transition-duration: 0.4s;
    transition-property: background-color, color, border-color;
    width: 16px;
}

.raf-sub-nav__item:hover,
.raf-sub-nav__item[active] {
    background-color: #175cff;
    border-color: #175cff;
}
