<!-- src/views/partials/footer.ejs -->
<footer class="raf-footer">
    <a href="#" class="raf-btn raf-btn--arrow raf-footer__back-to-top">
        <span class="raf-btn--arrow-icon"></span>
    </a>
    <section class="raf-container raf-footer__content-section">
        <p class="raf-footer__copy">Like what you see? Send me an <a class="raf-text-link" href="mailto:rafael.henrique.tan@gmail.com">email</a> or message me on <a class="raf-text-link" href="https://www.linkedin.com/in/rafael-tan-09540236" target="_blank">Linkedin</a></p>
        <p class="raf-footer__copy">
              <% if (typeof footer !== 'undefined') { %>
                 <% if (footer.prev) { %>
                      <a href="<%= footer.prev %>" class="raf-btn raf-btn--arrow raf-btn--arrow--left">
                          <span class="raf-btn--arrow-icon raf-btn--arrow--left-icon"></span>
                      </a>
                  <% } %>
                  <% if (footer.next) { %>
                      <a href="<%= footer.next %>" class="raf-btn raf-btn--arrow raf-btn--arrow--right">
                          <span class="raf-btn--arrow-icon raf-btn--arrow--right-icon"></span>
                      </a>
                  <% } %>
              <% } %>
          </p>
    </section>
	<script type="text/javascript" src="build/build.js"></script>
</footer>
