<!-- src/views/partials/headers.ejs -->
<header class="raf-header">
    <nav class="raf-header-nav">
        <a href="#" class="raf-btn raf-btn--hamburger raf-header-nav__btn"><span></span></a>
        <div class="raf-header-nav__links-list">
            <h3 class="raf-header-nav__link"><a class="raf-text-link" href="#">About Me</a></h3>
            <h3 class="raf-header-nav__link"><a class="raf-text-link" href="#">Case Studies</a></h3>
            <h3 class="raf-header-nav__link"><a class="raf-text-link" href="#">Planets</a></h3>
            <h3 class="raf-header-nav__link"><a class="raf-text-link" href="#">Zuru</a></h3>
            <h3 class="raf-header-nav__link"><a class="raf-text-link" href="#">NDS</a></h3>
        </div>
    </nav>
</header>
